@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');
html{
}
html, body{
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
body.pageEmpresa{
    background: url('../img/Ceu.jpg') no-repeat center fixed;
    background-size: 100vw; /* vw ou vh*/
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    background: #f20c0c;
}


.logosite{
    float: left;
    width: 64px;
}
/* configuração navegação para index,empresa,contato e cadrastro */
nav a{
    display: block;
    width: auto;
    height: 56px;
    padding: 4px;
    float: left;
    line-height: 53px;
    color: #ffffff;
    text-decoration: none;
    font-family: "dosis"; sans-serif;
    font-weight: 800;
    font-size: 18px;
}

/*regras dos conteudos*/
main{
    padding: 80px 10px;
}

.homeArticle{
    width: 43%;
    background-color: #f0ecec;
    margin:  15px 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    padding: 15px;
    display: inline-block;
    min-height: 200px;
}

.homeArticle img{
    float: left;
    margin-right: 10px;
    border: 1px solid #f0ecec;
    border-radius: 15px;
}

.homeArticle h2{
    font-size: 20px;
    text-transform: uppercase;
    color: #f20c0c;
}

.homeArticle p{
    font-style: italic;
    text-indent: 5px; /* espaço para paragrafo*/
}
.homeArticle.active{
    background: #b6a5a5;
}

.homeArticle a{
    display: inline-block
    width: auto;
    padding: 4px;
    background: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    float: right; 
}
.homeArticle a:hover{
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.5);
    padding: 6px;
}

/* estilos do carrosel*/
.carousel{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
    
.carousel li{
    width: 22%;
    list-style: none;
    display: inline-block;
    margin: 0 1%;
}
    
.carousel li img{
    width: 100%;
}

*/pagina servicos*/

body.pageservicos table{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #b51b2b;
}
    
    body.pageservicos; table td{
        background: #fff;
        padding: 4px;
    }
    body.pageservicos table tr:nth-child(add)td{
        background: yellow;    */tabela cor sim, cor não*/
    }
    body.pageservicos table tr.titulo td{
        background: red important;
        color:#fff;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }

/*configurações form*/
form{
	width: 600px;
	min-height: 540px;
	margin: 0 auto;
}
.formGroup{
	width: 100%;
	display: inline-block; /*alinhamento de objetos*/
	float: left;
	margin-bottom: 10px;
	margin-left: 2%;

}

.formGroup input, 
.formGroup select, 
.formGroup textarea{
	width: 100%;
	height: 45px;
	border: 1px solid #0a0002;
	text-indent: 10px;
	border-radius: 5px;
	
}
.formGroup textarea{
	height: 200px;
}
.formGroup button{
	width: 120px;
	height: 45px;
	background: red;
	border: unset;
	color: #fff;
	font-size: 18px;
}

.formGroup button:hover{
	cursor: pointer;
	background: rgb(212, 25, 25);
}
.formGroup label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #0e0102;
    
}
.formGroup.metade{
	width: 48%;
}
.formGroup.total{
	width: 98%;
}
    
    
/* vale para index,empresa,contato,cadastro*/
footer{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;  /* botton significa parte de baixo*/
    background: #f20c0c;
}

footer span{
    display: inline-block;
    width: 48%;
    padding: 10px;
    color: #fff;
}
footer .assinatura{
    text-align: right;
}
footer .assinatura a{
    color: #ccc;
    text-decoration: none;
    padding-left: 0px;
}
    
}
    
    
    
    
    
    
    


    
    











    



 

    
    
    
    
    


    
    
    
    
    





    


    
    
    

    
    

    
    

    
    




    



